<p>rooms-list works!</p>
<table>
    <th>index</th>
    <th>even/odd</th>
    <th>roomNumber</th>
    <th>roomType</th>        
    <th>ameneties</th>
    <th>price</th>
    <th>checkin-time</th>
    <th>checkout-time</th>

    <tr [ngClass]="ee ? 'even':'odd'" *ngFor="let room of rooms; let ee = even; let o = odd; let i = index ">
     <td>{{i}}</td>   
     <td>{{ee ? 'even' :'odd'}}</td>
     <td>{{room.roomNumber}}</td>
     <td>{{room.roomType | lowercase}}</td>
     <td>{{room.ameneties | titlecase}}</td>
     <td>{{room.price | currency : 'INR'}}</td>
     <td>{{room.chekinTime | date : 'M/d/yy zzzz'}}</td>
     <td>{{room.checkoutTime | date}}</td>
    </tr>
</table>
